body {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: sans-serif;
  background-color: #fff;
  color: #000000;
  font-style: normal;
}

body.info-page {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.info-container {
  width: 90%;
  max-width: 800px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 30px;
  max-height: 80vh;
  overflow-y: auto;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}

.info-container h1 {
  font-size: 24px;
  font-weight: 600;
  font-family: sans-serif;
  color: #000000;
  margin-bottom: 20px;
}

.tab {
  overflow: hidden;
  background-color: #f2f2f2;
  border-bottom: 0.5px solid #d6d6d6;
}

.tab button {
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.tab button:hover {
  background-color: #e6e6e6;
}

.tab button.active {
  border-bottom: 2px solid #0071e3;
  color: #0071e3;
  font-weight: 600;
}

.tabcontent {
  display: none;
  padding: 20px;
  border-top: 1px solid #d6d6d6;
  position: relative;
}

.tabcontent.active {
  display: block;
}

.form-group {
  display: grid;
  font-family: sans-serif;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.form-group label {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  text-align: right;
}

.form-group .text-field {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  padding: 8px 12px;
  border: 1px solid #d2d2d7;
  border-radius: 3px;
  background-color: #ffffff;
  color: #000000;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group .text-field:focus {
  border-color: #007bff; 
  box-shadow: 0 0 0 2px rgba(0, 122, 255, 0.3); 
  outline: none;
}

.save-status {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 14px;
  color: #000000;
}

.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.toggle-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 30px; 
  height: 30px; 
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('dark.png');
  background-size: 20px; 
  background-repeat: no-repeat;
  background-position: 5px 5px;
  -webkit-transition: background-image 0.4s ease;
  transition: background-image 0.4s ease;
}

input:checked + .toggle-slider {
  background-image: url('light.png'); 
}

.toggle-slider.round {
  border-radius: 15px; 
}

body.dark-mode {
  background-color: #121212;
  color: #fff;
}

.info-container.dark-mode {
  background-color: #333333;
  color: #fff;
  border: 1px solid #212121;
}

body.dark-mode h1 {
  color: #fff;
}

body.dark-mode .tab {
  background-color: #444444;
  border-bottom-color: #555555;
}

body.dark-mode .tab button {
  color: #ccc;
}

body.dark-mode .tab button:hover {
  background-color: #555555 
} 

body.dark-mode .tab button.active {
  border-bottom-color: #0071e3;
  color: #0071e3;
}

body.dark-mode .tabcontent {
  border-top-color: #555555;
}

body.dark-mode .form-group label {
  color: #ffffff;
}

body.dark-mode .form-group .text-field {
  background-color: #444444;
  color: #fff;
  border-color: #555555;
}

body.dark-mode .form-group .text-field:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 122, 255, 0.3);
}

